body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.lupa{
	font-size: 30px;
	margin-left: 30%;
}

.usuario{
	font-size: 40px;
	margin-left: 40%;
}


.platillo{
	width: 90%;
}

ul li{
	margin: 1%;
}

.textarea{
	border-radius: 35px;
	resize: none;
}

.barra-superior, .body-container{
	background-color: rgba(250, 62, 62, 0.6);
}

.der-columna, .izq-columna, .buscador{
	background-color: rgba(255, 204, 195, 0.8);
	
}

.historial, .favoritos{
	background-color: rgba(250, 62, 62, 1);
}
